{% if perms.recursos.informe_superintendencia %}
    {% load static %}
    <script src="{% static 'assets/app/js/recursos/superintendencia/dashboard.js' %}" type="text/javascript"></script>

    <form class="m-form m-form--fit m-form--label-align-right" action="" method="post">
        <div class="form-group m-form__group row">
            {% csrf_token %}
            {{ form }}
            <div class="col-3">
                <label class="col-lg-12 col-form-label">Analizar por:</label>
                <div class="col-lg-12">
                    <select class="form-control m-input" name="analizar_por" id="analizar_por">
                        <option value="MODALIDAD">Modalidad</option>
                        <!--<option value="PRODUCTO">Producto</option>-->
                        <option value="NOMBRE">Socio</option>
                        <option value="GRUPO">Grupo</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <label class="col-lg-12 col-form-label">Año:</label>
                <div class="col-lg-12">
                    <select class="form-control m-bootstrap-select m_selectpicker" name="anio" id="anio" multiple>
                        {% for anio in anios %}
                            <option value="{{ anio }}">{{ anio }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <label class="col-lg-12 col-form-label">Fecha:</label>
                <div class="col-lg-12">
                    <select class="form-control m-bootstrap-select m_selectpicker" name="fecha" id="fecha" multiple>
                        {% for fecha in fechas %}
                            <option value="{{ fecha }}">{{ fecha }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <label class="col-lg-12 col-form-label">Grupo:</label>
                <div class="col-lg-12">
                    <select class="form-control m-bootstrap-select m_selectpicker" name="grupo" id="grupo" multiple>
                        {% for grupo in grupos %}
                            <option value="{{ grupo }}">{{ grupo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-3">
                <label class="col-lg-12 col-form-label">Socio:</label>
                <div class="col-lg-12">
                    <select class="form-control m-bootstrap-select m_selectpicker" name="socio" id="socio" multiple>
                        {% for socio in socios %}
                            <option value="{{ socio }}">{{ socio }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12">
                <br>
                <button type="button" class="btn btn-success filtrar">
                    <i class="fa fa-filter"></i>&nbsp;
                    Filtrar
                </button>
                <a href="" class="btn btn-info">Limpiar</a>
            </div>
        </div>
    </form>
    <hr>
    <div class="row" id="resultado">
    </div>
{% else %}
    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation-1"></i>
            <span></span>
        </div>
        <div class="m-alert__text">
            <strong>Error!</strong> No Posee los privilegios necesarios para acceder a esta página!
        </div>
        <div class="m-alert__close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
{% endif %}