{% for registro in data %}
    <div class="col-3">
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" style="text-shadow: 1px 1px 17px #caafaf;">
                            <strong>{{ registro.label }}</strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-widget4">
                    <div class="m-widget4__item">
                        <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                DESEMBOLSOS
                            </span>
                            <br>
                            <span class="m-widget4__sub">
                                PROMEDIO
                            </span>
                        </div>
                        <span class="m-widget4__ext">
                            <span class="m-widget4__number m--font-danger">{{ registro.CREDITOS }}</span>
                        </span>
                    </div>
                    <div class="m-widget4__item">
                        <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                MONTO
                            </span>
                            <br>
                            <span class="m-widget4__sub">
                                PROMEDIO
                            </span>
                        </div>
                        <span class="m-widget4__ext">
                            <span class="m-widget4__number m--font-danger">$&nbsp;{{ registro.MONTO }}</span>
                        </span>
                    </div>
                    {% if 1 > 0 %}
                        <div class="m-widget4__item">
                            <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                TASA
                            </span>
                                <br>
                                <span class="m-widget4__sub">
                                PROMEDIO
                            </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__number m--font-danger">{{ registro.TASA }}&nbsp;%&nbsp;EA</span>
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<style>
    .m-widget4 .m-widget4__item .m-widget4__ext .m-widget4__number {
        font-size: 28px !important;
        font-weight: 600;
        text-shadow: 0px 1px 1px #000000;
    }
</style>