<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="m-demo__preview">
            <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                    <h3 class="display-3" style="font-size: 23px;">Tasa EA</h3>
                    <h3 class="display-3" style="font-size: 35px;font-weight: bold;color: #737373;text-shadow: 0px 1px 0px #000000;">
                        {{ Tasa }} %
                    </h3>
                </div>
                <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                    <h3 class="display-3" style="font-size: 23px;">Plazo </h3>
                    <h3 class="display-3" style="font-size: 35px;font-weight: bold;color: #737373;text-shadow: 0px 1px 0px #000000;">
                        {{ Plazo }} Meses
                    </h3>
                </div>
                <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                    <h3 class="display-3" style="font-size: 23px;">Monto</h3>
                    <h3 class="display-3" style="font-size: 35px;font-weight: bold;color: #737373;text-shadow: 0px 1px 0px #000000;">
                        $ {{ Monto }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="m-demo__preview">
            <div class="m-stack m-stack--ver m-stack--general m-stack--demo" style="padding: 5px 0 0 0;">
                <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                    <h3 class="display-3" style="font-size: 23px;">Cuota promedio</h3>
                    <h3 class="display-3" style="font-size: 35px;font-weight: bold;color: #737373;text-shadow: 0px 1px 0px #000000;">
                        $ {{ cuota }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>