{% load static %}
<meta charset="utf-8"/>
<title>{{ title }}</title>
<meta name="description" content="Latest updates and statistic charts">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<!--begin::Web font
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700","Asap+Condensed:500"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
</script>-->

<style>
    /* poppins-regular - latin */
    @font-face {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      src: url({% static 'assets/fonts/poppins-v6-latin/poppins-v6-latin-regular.eot' %}); /* IE9 Compat Modes */
      src: local('Poppins Regular'), local('Poppins-Regular'),
           url({% static 'assets/fonts/poppins-v6-latin/poppins-v6-latin-regular.eot?#iefix' %}) format('embedded-opentype'), /* IE6-IE8 */
           url({% static 'assets/fonts/poppins-v6-latin/poppins-v6-latin-regular.woff2' %}) format('woff2'), /* Super Modern Browsers */
           url({% static 'assets/fonts/poppins-v6-latin/poppins-v6-latin-regular.woff' %}) format('woff'), /* Modern Browsers */
           url({% static 'assets/fonts/poppins-v6-latin/poppins-v6-latin-regular.ttf' %}) format('truetype'), /* Safari, Android, iOS */
           url({% static 'assets/fonts/poppins-v6-latin/poppins-v6-latin-regular.svg#Poppins' %}) format('svg'); /* Legacy iOS */
    }
    /* roboto-regular - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: url({% static 'assets/fonts/roboto-v19-latin/roboto-v19-latin-regular.eot' %}); /* IE9 Compat Modes */
      src: local('Roboto'), local('Roboto-Regular'),
           url({% static 'assets/fonts/roboto-v19-latin/roboto-v19-latin-regular.eot?#iefix' %}) format('embedded-opentype'), /* IE6-IE8 */
           url({% static 'assets/fonts/roboto-v19-latin/roboto-v19-latin-regular.woff2' %}) format('woff2'), /* Super Modern Browsers */
           url({% static 'assets/fonts/roboto-v19-latin/roboto-v19-latin-regular.woff' %}) format('woff'), /* Modern Browsers */
           url({% static 'assets/fonts/roboto-v19-latin/roboto-v19-latin-regular.ttf' %}) format('truetype'), /* Safari, Android, iOS */
           url({% static 'assets/fonts/roboto-v19-latin/roboto-v19-latin-regular.svg#Roboto' %}) format('svg'); /* Legacy iOS */
    }
    /* asap-condensed-regular - latin */
    @font-face {
      font-family: 'Asap Condensed';
      font-style: normal;
      font-weight: 400;
      src: url({% static 'assets/fonts/asap-condensed-v3-latin/asap-condensed-v3-latin-regular.eot' %}); /* IE9 Compat Modes */
      src: local('Asap Condensed Regular'), local('AsapCondensed-Regular'),
           url({% static 'assets/fonts/asap-condensed-v3-latin/asap-condensed-v3-latin-regular.eot?#iefix' %}) format('embedded-opentype'), /* IE6-IE8 */
           url({% static 'assets/fonts/asap-condensed-v3-latin/asap-condensed-v3-latin-regular.woff2' %}) format('woff2'), /* Super Modern Browsers */
           url({% static 'assets/fonts/asap-condensed-v3-latin/asap-condensed-v3-latin-regular.woff' %}) format('woff'), /* Modern Browsers */
           url({% static 'assets/fonts/asap-condensed-v3-latin/asap-condensed-v3-latin-regular.ttf' %}) format('truetype'), /* Safari, Android, iOS */
           url({% static 'assets/fonts/asap-condensed-v3-latin/asap-condensed-v3-latin-regular.svg#AsapCondensed' %}) format('svg'); /* Legacy iOS */
    }
</style>

<style media="screen">
    .m-page .m-page__container {
        padding: 0 30px !important;
    }
</style>
<!--end::Web font -->
<!--begin::Base Styles -->
<!--begin::Page Vendors -->
<link href="{% static 'assets/vendors/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css"/><!--RTL version:<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
<!--end::Page Vendors -->
<link href="{% static 'assets/vendors/base/vendors.bundle.css' %}" rel="stylesheet" type="text/css"/><!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
<link href="{% static 'assets/demo/demo10/base/style.bundle.css' %}" rel="stylesheet" type="text/css"/><!--RTL version:<link href="assets/demo/demo10/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
<!--end::Base Styles -->

<!--begin::Base Scripts -->
<script src="{% static 'assets/vendors/base/vendors.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/demo/demo10/base/scripts.bundle.js' %}" type="text/javascript"></script>
<!--end::Base Scripts -->

<!--begin::Page Vendors -->
<script src="{% static 'assets/vendors/custom/fullcalendar/fullcalendar.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendors/custom/datatables/datatables.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/demo/default/custom/crud/datatables/basic/scrollable.js' %}" type="text/javascript"></script>

<!--end::Page Vendors -->

<script src="{% static 'assets/app/js/general.js' %}" type="text/javascript"></script>

<link rel="shortcut icon" href="{% static 'actuaria/favicon.png' %}"/>

<script src="{% static 'assets/app/js/amcharts/core.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/app/js/amcharts/charts.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/app/js/amcharts/frozen.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/app/js/amcharts/animated.js' %}" type="text/javascript"></script>